{
     "collectionName":"Aptos Acid Apes 1111",
     "description":"Bored Ape Aptos Club created by Acid Labs",
     "uri":"https://cloudflare-ipfs.com/ipfs/QmYVA2DjoxpmSFREd2gUhbSNzRXnQb3cL5HbJLUW75nw5f",
     "maxSupply":"3333",
     "mintFee":"2",
     "maxSupplyPerUser":"1",
     "presaleMintTime":1666197642,
     "publicMintTime":1666706400
 }
